*{
    margin: 0;
}

.first{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
}
.first img{
    display: none;
}
.first h1{
    font-weight: 100;
}
.lex{
    color: gray;
}
.firsttext{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.first button{
    width: 180px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}
.first button:hover{
    background-color: #263238;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}


.second{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: sans-serif;
}
.left{
    width: 40%;
}
.left h1{
    font-size: 64px;
}
.left p{
    margin-top: 40px;
    line-height: 36px;
    font-weight: 400;
    font-size: 24px;
    color: #8F95A5;
}
.left button{
    width: 430px;
    height: 110px;
    font-size: 36px;
    font-weight: 400;
    margin-top: 40px;
    color: white;
    background-color: #263238;
    border-radius: 15px;
}
.left button:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
    cursor: pointer;
}
.right{
    width: 40%;
}
.right img{
    width: 100%;
}


.info{
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    margin-top: 80px;
}


.third{
    width: 90%;
    height: 900px;
    margin: auto;
    margin-top: 50px;
    font-family: sans-serif;
    display: grid;
    grid-template: 550px 350px / repeat(3, 1fr);
}
.third div{
    border-radius: 10px;
    background-color: #F5F5F5;
    margin: 5px 5px;
}


.speaking{
    grid-row: 1/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.speaking img{
    width: 90%;
}
.speaktext{
    width: 80%;
}
.speaktext h1{
    line-height: 80px;
    font-size: 32px;
}
.speaktext p{
    line-height: 24px;
    font-size: 16px;
    color: #8F95A5;
}
.learnskill{
    width: 230px;
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
    background-color: #263238;
    color: white;
    border-radius: 5px;
    border: none;
}
.learnskill:hover{
    background-color: white;
    color: #263238;
    border: 1px solid #263238;
    cursor: pointer;
    transition: 0.2s;
}


.writing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.writing img{
    width: 60%;
    margin-left: auto;
}
.writetext{
    width: 80%;
}
.writetext h1{
    line-height: 80px;
    font-size: 32px;
}
.writetext p{
    line-height: 24px;
    font-size: 16px;
    color: #8F95A5;
}


.reading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.reading img{
    width: 90%;
}
 .readtext{
    width: 80%;
 }
.readtext h1{
    line-height: 80px;
    font-size: 32px;
}
.readtext p{
    line-height: 24px;
    font-size: 16px;
    color: #8F95A5;
}


.listening{
    grid-column: 2/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}
.listening img{
    width: 45%;
}
.listentext{
    width: 45%;
}
.listentext h1{
    line-height: 80px;
    font-size: 32px;
}
.listentext p{
    line-height: 24px;
    font-size: 16px;
    color: #8F95A5;
}


.aboutus{
    font-family: sans-serif;
    font-size: 48px;
    margin-top: 80px;
    margin-left: 5%
}


.fourth{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: sans-serif;
}
.fourth p{
    width: 45%;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-top: 50px;
}
.fourth1{
    width: 45%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 2200px;
}


.fifth{
    width: 90%;
    margin: auto;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.fifth div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fifth h1{
    line-height: 48px;
    font-size: 30px;
}
.fifth p{
    width: 80%;
    line-height: 30px;
    font-size: 20px;
    color: #8F95A5;
}
.fifth button{
    width: 240px;
    height: 40px;
    margin-top: 20px;
    background-color: #EEEEEE;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}
.price2 button{
    width: 260px;
}
.price2 h1{
    margin-top: 50px;
}
.price3 button{
    width: 260px;
}


.contact{
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    margin-top: 80px;
}

.sixth{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sixtext{
    width: 59%;
}
.sixtext p{
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    font-family: sans-serif;
}
.sixtext input{
    width: 450px;
    height: 80px;
    margin-top: 40px;
    border-radius: 10px;
    padding-left: 40px;
    font-size: 20px;
    border: 1px solid #8F95A5;
}
.sixtext button{
    width: 250px;
    height: 85px;
    margin-left: 5px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: #263238;
}
.sixtext button:hover{
    background-color: white;
    color: #263238;
    cursor: pointer;
    transition: 0.4s;
}


.seven{
    width: 90%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: sans-serif;
    border-top: 1px solid #C4C4C4;
}
.seven h1{
    font-size: 36px;
    font-weight: 100;
}
.seven p{
    font-size: 24px;
    color: #8F95A5;
}
.seven p:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}


@media (width: 412px) {
    .firsttext{
        display: none;
    }
    .first button{
        display: none;
    }
    .first{
        justify-content: space-between;
    }
    .first img{
        display: inline;
        padding-right: 20px;
    }
    .first h1{
        padding-left: 20px;
    }

    .second{
        flex-direction: column-reverse;
        text-align: center;
    }
    .left{
        width: 90%;
        margin: auto;
    }
    .left button{
        width: 350px;
    }
    .right{
        width: 90%;
        margin: auto;
    }

    .third{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        
    }

    .listentext{
        width: 80%;
    }
    .listening img{
        width: 90%;
    }
    

    .aboutus{
        text-align: center;
    }
    .fourth{
        margin-bottom: 350px;
    }
    .fourth p{
        width: 100%;
        text-align: center;
    }
    .fourth img{
        width: 100%;
    }
    .fourth1{
        width: 90%;
        top: 4300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .fourth1 p{
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
    }
    .fourth h1{
        line-height: 40px;
        width: 100%;
    }


    .fifth{
        width: 90%;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    .price2 button{
        width: 260px;
    }

    .sixth img{
        width: 100%;
    }

    .sixtext{
        width: 90%;
        text-align: center;
        margin: auto;
    }
    .sixtext input{
        width: 90%;
    }
    .sixtext button{
        width: 100%;
        margin-top: 20px;
    }

    .seven{
        display: block;
        margin-bottom: 80px;
    }
    .seven h1{
        text-align: center;
        margin-top: 40px;
    }
    .seven p{
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        
    }


}